---
import { type ImageMetadata } from "astro";
import LazyImage from "./LazyImage.astro"; // Adjust path as needed
import SubTitle3 from "./SubTitle3.astro";
import Paragraph from "./Paragraph.astro";

export interface Props {
  name: string;
  role: string;
  image: ImageMetadata | string; // Allow for remote images too if needed
  imageAlt?: string;
  bio?: string;
  className?: string;
}

const { name, role, image, imageAlt = `Fotografie ${name}`, bio, className="" } = Astro.props;
---

<div class={`bg-base-100 dark:bg-base-dark-800 p-6 rounded-xl shadow-lg text-center flex flex-col items-center ${className}`}>
  <div class="w-32 h-32 mb-4">
    <LazyImage
      src={image}
      alt={imageAlt}
      class="w-full h-full object-cover rounded-full"
      width="128"
      height="128"
    />
  </div>
  <SubTitle3 className="!mb-1 text-primary dark:text-primary-400">{name}</SubTitle3>
  <Paragraph className="text-sm text-slate-600 dark:text-slate-400 mb-2">{role}</Paragraph>
  {bio && <Paragraph className="text-xs text-slate-500 dark:text-slate-400">{bio}</Paragraph>}
</div>